<header class="header">
  <div class="branding">
    <div
      class="container-fluid position-relative py-3 d-flex justify-content-between"
    >
      <div class="logo-wrapper">
        <div class="site-logo">
          <a class="navbar-brand d-flex align-items-center" href="index.html"
            ><img
              class="logo-icon me-4"
              src="assets/images/favicon-32x32.png"
              alt="logo"
            /><span class="logo-text">Feynman IA</span></a
          >
        </div>
      </div>
      <!--      <div class="d-flex gap-4">-->
      <!--        <button class="btn btn-primary">sing-in</button>-->
      <!--        <button class="btn btn-primary">sing-up</button>-->
      <!--      </div>-->
    </div>
  </div>
</header>

<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
        <div class="promo pe-md-3 pe-lg-5">
          <h1 class="headline mb-3">
            Descubre Feynman: Tu compañero inteligente de lectura con IA.
          </h1>
          <!--//headline-->
          <div class="subheadline mb-4" style="text-align: justify">
            ¡Bienvenido a Feynman IA, donde la comprensión de libros importantes
            se vuelve fácil y emocionante! Nuestra plataforma impulsada por
            inteligencia artificial te ofrece una experiencia de aprendizaje
            única y con explicaciones simples, descubre cómo Feynman IA puede
            llevarte a nuevos niveles de entendimiento. ¡Regístrate ahora y
            prepárate para un viaje de descubrimiento inigualable!
          </div>
          <!--//subheading-->

          <div class="cta-holder row gx-md-3 gy-3 gy-md-0">
            <div class="col-12 col-md-auto">
              <a class="btn btn-primary w-100" routerLink="/auth/log-in"
                >Pruebalo gratis</a
              >
            </div>
            <div class="col-12 col-md-auto">
              <a
                class="btn btn-secondary scrollto w-100"
                href="#benefits-section"
                >Aprenda mas</a
              >
            </div>
          </div>
          <!--//cta-holder-->

          <div class="hero-quotes mt-5">
            <div
              id="quotes-carousel"
              class="quotes-carousel carousel slide carousel-fade mb-5"
              data-bs-ride="carousel"
              data-bs-interval="8000"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#quotes-carousel"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#quotes-carousel"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#quotes-carousel"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
              </div>

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <blockquote class="quote p-1 theme-bg-light">
                    "¡Bienvenidos a Feynman IA! Estamos emocionados de ofrecer
                    una plataforma revolucionaria que hace que comprender libros
                    importantes sea más accesible que nunca. Nuestro equipo está
                    comprometido a brindar una experiencia de aprendizaje
                    excepcional. ¡Gracias por unirse a nosotros en este
                    emocionante viaje hacia el conocimiento!"
                  </blockquote>
                  <!--//item-->
                  <div
                    class="source row gx-md-3 gy-3 gy-md-0 align-items-center"
                  >
                    <div class="col-12 col-md-auto text-center text-md-start">
                      <img
                        class="source-profile"
                        src="assets/images/profiles/team.png"
                        alt="image"
                      />
                    </div>
                    <!--//col-->
                    <div class="col source-info text-center text-md-start">
                      <div class="source-name">Team Feynman</div>
                      <div class="soure-title">
                        Creadores, Startup Feynman IA
                      </div>
                    </div>
                    <!--//col-->
                  </div>
                  <!--//source-->
                </div>
                <!--//carousel-item-->
                <div class="carousel-item">
                  <blockquote class="quote p-4 theme-bg-light">
                    "Highly recommended consectetur adipiscing elit. Proin et
                    auctor dolor, sed venenatis massa. Vestibulum ullamcorper
                    lobortis nisi non placerat praesent mauris neque"
                  </blockquote>
                  <!--//item-->
                  <div
                    class="source row gx-md-3 gy-3 gy-md-0 align-items-center"
                  >
                    <div class="col-12 col-md-auto text-center text-md-start">
                      <img
                        class="source-profile"
                        src="assets/images/profiles/profile-2.png"
                        alt="image"
                      />
                    </div>
                    <!--//col-->
                    <div class="col source-info text-center text-md-start">
                      <div class="source-name">Jean Doe</div>
                      <div class="soure-title">Co-Founder, Startup Week</div>
                    </div>
                    <!--//col-->
                  </div>
                  <!--//source-->
                </div>
                <!--//carousel-item-->
                <div class="carousel-item">
                  <blockquote class="quote p-4 theme-bg-light">
                    "Awesome! Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Aliquam euismod nunc porta urna facilisis tempor.
                    Praesent mauris neque, viverra quis erat vitae."
                  </blockquote>
                  <!--//item-->
                  <div
                    class="source row gx-md-3 gy-3 gy-md-0 align-items-center"
                  >
                    <div class="col-12 col-md-auto text-center text-md-start">
                      <img
                        class="source-profile"
                        src="assets/images/profiles/profile-3.png"
                        alt="image"
                      />
                    </div>
                    <!--//col-->
                    <div class="col source-info text-center text-md-start">
                      <div class="source-name">Andy Doe</div>
                      <div class="soure-title">
                        Frontend Developer, Company Lorem
                      </div>
                    </div>
                    <!--//col-->
                  </div>
                  <!--//source-->
                </div>
                <!--//carousel-item-->
              </div>
              <!--//carousel-inner-->
            </div>
            <!--//quotes-carousel-->
          </div>
          <!--//hero-quotes-->
        </div>
        <!--//promo-->
      </div>
      <!--col-->
      <div class="col-12 col-md-5 mb-5 align-self-center">
        <div class="book-cover-holder">
          <img
            class="img-fluid book-cover"
            src="assets/images/ia-libro.jpeg"
            alt="book cover"
          />
          <div class="book-badge d-inline-block shadow">New<br />Release</div>
        </div>
        <!--//book-cover-holder-->
        <div class="text-center">
          <a class="theme-link scrollto" href="#reviews-section"
            >Echa un vistazo a las reseñas</a
          >
        </div>
      </div>
      <!--col-->
    </div>
    <!--//row-->
  </div>
  <!--//container-->
</section>
<!--//hero-section-->

<section
  id="benefits-section"
  class="benefits-section theme-bg-light-gradient py-5"
>
  <div class="container py-5">
    <h2 class="section-heading text-center mb-3">
      ¿Qué encontrarás en nuestros chats personalizados?
    </h2>
    <div class="section-intro single-col-max mx-auto text-justify mb-5">
      Explora chats especializados en ITIL, COBIT, ISO/IEC 25010:2023,
      investigación de Sampieri, RSL y MSL en ingeniería de software. Respuestas
      precisas y orientación práctica en tiempo real para potenciar tu
      conocimiento.
    </div>
    <div class="row text-center">
      <div class="item col-12 col-md-6 col-lg-4">
        <div class="item-inner p-3 p-lg-4">
          <div class="item-header mb-3">
            <div class="item-icon"><i class="fas fa-globe-europe"></i></div>
            <h3 class="item-heading">Framework ITIL 4</h3>
          </div>
          <!--//item-heading-->
          <div class="item-desc">
            Descubre el mundo del Information Technology Infrastructure Library
            (ITIL) a través de nuestro chat especializado. Obtén respuestas
            instantáneas y orientación personalizada sobre las mejores prácticas
            para la gestión de servicios de TI.
          </div>
          <!--//item-desc-->
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-12 col-md-6 col-lg-4">
        <div class="item-inner p-3 p-lg-4">
          <div class="item-header mb-3">
            <div class="item-icon"><i class="fas fa-user-check"></i></div>
            <h3 class="item-heading">framework COBIT 2019</h3>
          </div>
          <!--//item-heading-->
          <div class="item-desc">
            Navega por el Control Objectives for Information and Related
            Technologies (COBIT) 2019 con nuestro chat temático. Explora cómo
            este marco puede optimizar la gobernanza y el control de las
            tecnologías de la información en tu organización.
          </div>
          <!--//item-desc-->
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-12 col-md-6 col-lg-4">
        <div class="item-inner p-3 p-lg-4">
          <div class="item-header mb-3">
            <div class="item-icon"><i class="fas fa-file"></i></div>
            <h3 class="item-heading">ISO/IEC 25010:2023</h3>
          </div>
          <!--//item-heading-->
          <div class="item-desc">
            Adéntrate en los estándares de calidad de software con nuestra
            plataforma interactiva. Descubre los detalles de la norma ISO
            25010:2023 y comprende cómo evaluar y mejorar la calidad del
            software en todos sus aspectos.
          </div>
          <!--//item-desc-->
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-12 col-md-6 col-lg-4">
        <div class="item-inner p-3 p-lg-4">
          <div class="item-header mb-3">
            <div class="item-icon"><i class="fas fa-book"></i></div>
            <h3 class="item-heading">Metodologías de la Investigación</h3>
          </div>
          <!--//item-heading-->
          <div class="item-desc">
            Explora el mundo de la investigación en ingeniería de software con
            nuestro chat dedicado a las metodologías propuestas por Roberto
            Sampieri. Obtén asesoramiento sobre cómo llevar a cabo
            investigaciones efectivas y basadas en evidencia.
          </div>
          <!--//item-desc-->
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-12 col-md-6 col-lg-4">
        <div class="item-inner p-3 p-lg-4">
          <div class="item-header mb-3">
            <div class="item-icon"><i class="fas fa-laptop-code"></i></div>
            <h3 class="item-heading">RSL en ingenieria de software</h3>
          </div>
          <!--//item-heading-->
          <div class="item-desc">
            Sumérgete en las Directrices para la Realización de Revisiones
            Sistemáticas de la Literatura en ingeniería de software. Obtén ayuda
            para realizar revisiones bibliográficas exhaustivas y mantenerte al
            tanto de los últimos avances en tu campo.
          </div>
          <!--//item-desc-->
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-12 col-md-6 col-lg-4">
        <div class="item-inner p-3 p-lg-4">
          <div class="item-header mb-3">
            <div class="item-icon"><i class="fas fa-code"></i></div>
            <h3 class="item-heading">MSL en ingeniera de software</h3>
          </div>
          <!--//item-heading-->
          <div class="item-desc">
            Descubre las Directrices para la Realización de Mapeo Sistemático en
            ingeniería de software a través de nuestro chat especializado. Obtén
            orientación para realizar mapeos sistemáticos que te ayudarán a
            visualizar y comprender la investigación existente en tu área.
          </div>
          <!--//item-desc-->
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
    </div>
    <!--//row-->
  </div>
  <!--//container-->
</section>
<!--//benefits-section-->

<section id="content-section" class="content-section">
  <div class="container">
    <div class="single-col-max mx-auto">
      <h2 class="section-heading text-center mb-5">¿Qué Incluye?</h2>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="figure-holder mb-5">
            <img
              class="img-fluid mw-100"
              src="assets/images/tablet.png"
              alt="image"
            />
          </div>
          <!--//figure-holder-->
        </div>
        <!--//col-->
        <div class="col-12 col-md-6 mb-5">
          <div class="key-points mb-4 text-center">
            <ul
              class="key-points-list list-unstyled mb-4 mx-auto d-inline-block text-start"
            >
              <li>
                <i class="fas fa-check-circle me-2"></i>Acceso a Chats
                Personalizados
              </li>
              <li>
                <i class="fas fa-check-circle me-2"></i>Simplifica la
                Comprensión
              </li>
              <li>
                <i class="fas fa-check-circle me-2"></i>Aprende a Tu Ritmo.
              </li>
              <li>
                <i class="fas fa-check-circle me-2"></i>Respuestas precisas,
                experiencia fluida.
              </li>
              <li>
                <i class="fas fa-check-circle me-2"></i>IA Intuitiva y Poderosa
              </li>
              <li>
                <i class="fas fa-check-circle me-2"></i>Material Educativo
                Exclusivo
              </li>
              <li><i class="fas fa-check-circle me-2"></i>Interfaz Amigable</li>
              <li>
                <i class="fas fa-check-circle me-2"></i>Soporte Profesional y
                Seguridad de Datos
              </li>
            </ul>
            <div class="text-center">
              <a class="btn btn-primary" routerLink="/auth/log-in"
                >Accede hoy Gratis</a
              >
            </div>
          </div>
          <!--//key-points-->
        </div>
        <!--//col-12-->
      </div>
      <!--//row-->
    </div>
    <!--//single-col-max-->
  </div>
  <!--//container-->
</section>
<!--//content-section-->

<section id="audience-section" class="audience-section py-5">
  <div class="container">
    <h2 class="section-heading text-center mb-4">
      Para quienes va dirigido esta herramienta
    </h2>
    <div
      class="section-intro single-col-max mx-auto mb-5"
      style="text-align: justify"
    >
      Nuestra herramienta está dirigida a profesionales de IT, líderes
      empresariales, desarrolladores, estudiantes y emprendedores que buscan
      mejorar sus habilidades en áreas cruciales como gobernanza IT, calidad de
      software e investigación en ingeniería. Con chats personalizados en ITIL,
      COBIT, ISO/IEC 25010:2023, investigaciones de Sampieri, RSL y MSL,
      ofrecemos una experiencia única para avanzar en tu carrera y proyectos
      tecnológicos.
    </div>
    <!--//section-intro-->
    <div class="audience mx-auto">
      <div class="item row gx-3">
        <div class="col-auto item-icon"><i class="fas fa-user-check"></i></div>
        <div class="col">
          <h4 class="item-title">Estudiantes e Investigadores</h4>
          <div class="item-desc">
            Orientado a estudiantes y académicos interesados en la metodología
            de investigación y en realizar revisiones, tesis o mapeos
            sistemáticos como en ingeniería de software y otros.
          </div>
        </div>
        <!--//col-->
      </div>
      <!--//item-->
      <div class="item row gx-3">
        <div class="col-auto item-icon"><i class="fas fa-user-check"></i></div>
        <div class="col">
          <h4 class="item-title">Gestores y Líderes Empresariales:</h4>
          <div class="item-desc">
            Dirigido a líderes empresariales y gerentes que desean implementar
            prácticas de gobernanza efectivas utilizando COBIT 2019.
          </div>
        </div>
        <!--//col-->
      </div>
      <!--//item-->
      <div class="item row gx-3">
        <div class="col-auto item-icon"><i class="fas fa-user-check"></i></div>
        <div class="col">
          <h4 class="item-title">Profesionales de IT y TI:</h4>
          <div class="item-desc">
            Ideal para profesionales de tecnología de la información que buscan
            mejorar sus habilidades y conocimientos en frameworks como ITIL y
            COBIT.
          </div>
        </div>
        <!--//col-->
      </div>
      <!--//item-->
      <div class="item row gx-3">
        <div class="col-auto item-icon"><i class="fas fa-user-check"></i></div>
        <div class="col">
          <h4 class="item-title">Desarrolladores y Testers de Software:</h4>
          <div class="item-desc">
            Adecuado para desarrolladores y testers que buscan comprender y
            aplicar las normas ISO/IEC 25010:2023 para mejorar la calidad del
            software.
          </div>
        </div>
        <!--//col-->
      </div>
      <div class="item row gx-3">
        <div class="col-auto item-icon"><i class="fas fa-user-check"></i></div>
        <div class="col">
          <h4 class="item-title">Personas autodidactas:</h4>
          <div class="item-desc">
            Adecuado para jovenes autodidactas que deseen explorar y comprender
            libros importantes de manera independiente y efectiva.
          </div>
        </div>
        <!--//col-->
      </div>
      <!--//item-->
    </div>
    <!--//audience-->
  </div>
  <!--//container-->
</section>
<!--//audience-section-->

<section id="form-section" class="form-section">
  <div class="container">
    <div
      class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5"
    >
      <h2 class="form-heading text-center">
        ¿Quieres ser el primero en usar las proximas novedades?
      </h2>
      <div class="form-intro text-center mb-3">
        "No te pierdas la oportunidad de estar al tanto de las nuevas novedades
        de nuestra plataforma. Deja tu correo y te notificaremos."
      </div>
      <div class="form-wrapper mx-auto">
        <form class="signup-form row g-2 align-items-center">
          <div class="col-12 col-lg-9">
            <label class="sr-only" for="semail">Email</label>
            <input
              type="email"
              id="semail"
              name="semail1"
              class="form-control me-md-1 semail"
              placeholder="Tu correo electrónico"
            />
          </div>
          <div class="col-12 col-lg-3">
            <button type="submit" class="btn btn-primary btn-submit w-100">
              Enviar
            </button>
          </div>
        </form>
        <!--//signup-form-->
      </div>
      <!--//form-wrapper-->
    </div>
    <!--//lead-form-wrapper-->
  </div>
  <!--//container-->
</section>
<!--//form-section-->

<section id="reviews-section" class="reviews-section py-5">
  <div class="container">
    <h2 class="section-heading text-center">
      Opiniones de Usuarios Satisfechos
    </h2>
    <div class="section-intro text-center single-col-max mx-auto mb-5">
      Echa un vistazo a los comentarios de nuestros usuarios
    </div>
    <div class="row justify-content-center">
      <div class="item col-12 col-lg-4 p-3 mb-4">
        <div class="item-inner theme-bg-light rounded p-4">
          <blockquote class="quote">
            "¡Feynman IA es increíble! Me ayuda a entender libros complicados de
            manera rápida y sencilla. Los resúmenes son claros y las
            explicaciones son fáciles de seguir. ¡Altamente recomendado!"
          </blockquote>
          <!--//item-->
          <div class="source row gx-md-3 gy-3 gy-md-0">
            <div class="col-12 col-md-auto text-center text-md-start">
              <img
                class="source-profile"
                src="assets/images/profiles/profile-1.png"
                alt="image"
              />
            </div>
            <!--//col-->
            <div class="col source-info text-center text-md-start">
              <div class="source-name">Juan Espinoza</div>
              <div class="soure-title">Estudiante de Derecho</div>
            </div>
            <!--//col-->
          </div>
          <!--//source-->
          <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
        </div>
        <!--//inner-->
      </div>
      <!--//item-->
      <div class="item col-12 col-lg-4 p-3 mb-4">
        <div class="item-inner theme-bg-light rounded p-4">
          <blockquote class="quote">
            "Feynman IA ha sido una verdadera ayuda en mi proceso de
            aprendizaje. No solo me proporciona resúmenes precisos de libros,
            sino que también me ayuda a entender conceptos complejos de manera
            clara y concisa. ¡Una herramienta imprescindible para cualquier
            estudiante!"
          </blockquote>
          <!--//item-->
          <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
            <div class="col-12 col-md-auto text-center text-md-start">
              <img
                class="source-profile"
                src="assets/images/profiles/profile-2.png"
                alt="image"
              />
            </div>
            <!--//col-->
            <div class="col source-info text-center text-md-start">
              <div class="source-name">Karen Villanueva</div>
              <div class="soure-title">Estudiante de Postgrado</div>
            </div>
            <!--//col-->
          </div>
          <!--//source-->

          <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
        </div>
        <!--//inner-->
      </div>
      <!--//item-->
      <div class="item col-12 col-lg-4 p-3 mb-4">
        <div class="item-inner theme-bg-light rounded p-4">
          <blockquote class="quote">
            "Nunca me ha gustado leer libros densos, pero Feynman IA ha cambiado
            eso para mí. Ahora puedo abordar cualquier tema con confianza
            sabiendo que tengo acceso a explicaciones simples y ejemplos
            prácticos que hacen que la lectura sea mucho más accesible.
            ¡Gracias, Feynman IA!"
          </blockquote>
          <!--//item-->
          <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
            <div class="col-12 col-md-auto text-center text-md-start">
              <img
                class="source-profile"
                src="assets/images/profiles/profile-3.png"
                alt="image"
              />
            </div>
            <!--//col-->
            <div class="col source-info text-center text-md-start">
              <div class="source-name">Pavel Mansilla</div>
              <div class="soure-title">Profesional Informático</div>
            </div>
            <!--//col-->
          </div>
          <!--//source-->
          <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
        </div>
        <!--//inner-->
      </div>
      <!--//item-->
      <div class="item col-12 col-lg-4 p-3 mb-4">
        <div class="item-inner theme-bg-light rounded p-4">
          <blockquote class="quote">
            "Feynman IA es como tener a un tutor personal en mi bolsillo. Me
            encanta lo fácil que es obtener información clara y relevante sobre
            cualquier libro que esté leyendo. Estoy impresionado por la
            precisión y la utilidad de esta herramienta. ¡Definitivamente ha
            mejorado mi experiencia de lectura!"
          </blockquote>
          <!--//item-->
          <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
            <div class="col-12 col-md-auto text-center text-md-start">
              <img
                class="source-profile"
                src="assets/images/profiles/profile-4.png"
                alt="image"
              />
            </div>
            <!--//col-->
            <div class="col source-info text-center text-md-start">
              <div class="source-name">Camila Costa</div>
              <div class="soure-title">Estudiante de Ingeniería</div>
            </div>
            <!--//col-->
          </div>
          <!--//source-->
          <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
        </div>
        <!--//inner-->
      </div>
      <!--//item-->
      <div class="item col-12 col-lg-4 p-3 mb-4">
        <div class="item-inner theme-bg-light rounded p-4">
          <blockquote class="quote">
            "He estado usando Feynman IA para prepararme para mis exámenes y ha
            marcado una gran diferencia. Los resúmenes son muy útiles para
            repasar rápidamente los conceptos clave, y las explicaciones me
            ayudan a entenderlos en profundidad. ¡Lo recomiendo a todos mis
            compañeros de clase!"
          </blockquote>
          <!--//item-->
          <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">
            <div class="col-12 col-md-auto text-center text-md-start">
              <img
                class="source-profile"
                src="assets/images/profiles/profile-5.png"
                alt="image"
              />
            </div>
            <!--//col-->
            <div class="col source-info text-center text-md-start">
              <div class="source-name">Rodrigo Ramirez</div>
              <div class="soure-title">Estudiante, UNAS</div>
            </div>
            <!--//col-->
          </div>
          <!--//source-->
          <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
        </div>
        <!--//inner-->
      </div>
      <!--//item-->
    </div>
    <!--//row-->
    <div class="text-center">
      <a class="btn btn-primary" routerLink="/auth/log-in"> Pruebalo Gratis</a>
    </div>
  </div>
  <!--//container-->
</section>
<!--//reviews-section-->

<section
  id="author-section"
  class="author-section section theme-bg-primary py-5"
>
  <div class="container py-3">
    <div class="author-profile text-center mb-5">
      <img
        class="author-pic"
        src="assets/images/profiles/team.png"
        alt="image"
      />
    </div>
    <!--//author-profile-->
    <h2 class="section-heading text-center text-white mb-3">
      Acerca de Nosotros
    </h2>
    <div class="author-bio single-col-max mx-auto text-justify">
      <p style="text-align: justify">
        En Feynman.ia, somos un equipo apasionado comprometido a democratizar el
        acceso al conocimiento a través de la tecnología y la inteligencia
        artificial. Nuestra misión es hacer que la comprensión de libros
        importantes sea rápida y sencilla para todos. Con experiencia en
        educación, tecnología e inteligencia artificial, nuestro diverso equipo
        está dedicado a proporcionar una experiencia educativa excepcional.
      </p>

      <p style="text-align: justify">
        Valoramos la educación como una herramienta poderosa para el crecimiento
        personal y profesional, y nos comprometemos a utilizar la tecnología de
        manera responsable. Además de nuestro enfoque en la tecnología
        educativa, también estamos comprometidos con el apoyo y fortalecimiento
        de las comunidades que servimos. Conoce a nuestro equipo, cuyas
        biografías y experiencias están destinadas a impulsar el aprendizaje y
        crear un cambio positivo en la forma en que las personas comprenden el
        mundo que las rodea.
      </p>
      <div class="author-links text-center pt-4">
        <h5 class="text-white mb-4">Nuestras redes</h5>
        <ul class="social-list list-unstyled">
          <li class="list-inline-item">
            <a href="/"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/ArioMasgo"
              ><i class="fab fa-github-alt"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="/"><i class="fab fa-medium-m"></i></a>
          </li>

          <li class="list-inline-item">
            <a href="#"><i class="fas fa-globe-europe"></i></a>
          </li>
        </ul>
        <!--//social-list-->
      </div>
      <!--//author-links-->
    </div>
    <!--//author-bio-->
  </div>
  <!--//container-->
</section>
<!--//author-section-->

<footer class="footer">
  <div class="footer-bottom text-center py-5">
    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
    <small class="copyright">
      <p>&copy; 2024 Feynman IA. Todos los derechos reservados.</p>
    </small>
  </div>
</footer>
